[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "alsa-lib"]
	path = alsa-lib
	url = https://github.com/alsa-project/alsa-lib.git
[submodule "libx11"]
	path = libx11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11.git
[submodule "libxrandr"]
	path = libxrandr
	url = https://gitlab.freedesktop.org/xorg/lib/libxrandr.git
[submodule "libxi"]
	path = libxi
	url = https://gitlab.freedesktop.org/xorg/lib/libxi.git
